/* importa raiz */
@import url("../../style.css");

/* estilos exclusivos sobre */


/* media queries pg sobre */
@media screen and (max-width: 1100px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    max-width: 80%;
    height: auto;
  }

  .card {
    aspect-ratio: auto;
    min-height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .card {
    aspect-ratio: auto;
    min-height: 180px;
  }

  .card p,
  .card h3 {
    opacity: 1;
    color: white;
  }

  section {
    padding: 20px;
  }
}