* {
  /*Zera margens*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl dt {
  font-weight: bold;
}

dl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: left;
  margin-left: 1rem;
}

main {
  padding-top: 1rem;
}

.about-section {
  background-color: inherit;
  justify-content: flex-start;
  min-height: 100%;
  align-items: flex-start;
  margin-left: 7%;
  line-height: 1.8;
  margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.about-title {
  padding: 1.5rem 0rem 1rem 5rem;
}

@media screen and (max-width: 600px) {
  .about-title {
    padding: 1.5rem 0rem 1rem 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

footer {
  background-color: var(--bg-secondary);
  padding: 30px 20px;
  margin-top: 40px;
  border-radius: 6px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.section-info {
  min-height: 100%;
  background-color: inherit;
}

.logo-utfpr {
  width: 10rem;
}

ul {
  text-align: left;
  padding-left: 1.5rem;
}
