* {
  /*Zera margens*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --ff-heading: "Space Grotesk", sans-serif;
  --ff-body: "Roboto", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  /* Colors */
  --text: #333333;
  --text-accent: #9f1239;
  --bg-default: #fefefe;
  --bg-secondary: #d0d0d0;
  --bg-button: #fefefe;
  --bg-shadow: #2b2929;
}

body {
  text-align: left;
  padding: 20px 10px;
  border-radius: 6px;

  margin: 0 auto;
  line-height: 1.5;
}

main {
  max-width: 50%;
  margin: 0 auto;
}

section {
  margin: 0;
  padding: 0;
  background-color: inherit;
  min-height: 0;
}

p {
  text-align: left;
  padding: 20px;
  text-indent: 5%;
}

ul {
  padding-left: 30px;
  margin: 20px 0;
  list-style-type: square;
}

li {
  margin-bottom: 8px;
  line-height: 1.5;
}

/*imagens*/
figure {
  margin: 20px auto;
  text-align: center;
}

img {
  width: 800px;
}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
  color: #9f1239;
  text-align: center;
}

/*links*/
a {
  cursor: pointer;
  color: #9f1239;
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-block; /*garante funcionamento transition*/
  text-decoration: none;
  position: relative; /*para o hover funcionar*/
}

a:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

/*rec leituras*/
.recs-card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 0 auto;
  padding: 20px;
  background: #d9ddf6;
  gap: 20px;
}

.recs ul {
  list-style-type: square;
  padding-left: 20px;
}

.recs li {
  margin-bottom: 8px;
}

/*vídeos*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  height: 0;
  overflow: hidden;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*Rodapé/copyright*/
footer {
  background-color: #d9ddf6;
  padding: 30px 20px;
  margin-top: 40px;
  border-radius: 6px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

html {
  font-size: 16px;
}

/*ajustes mobile*/
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 10px;
    border-radius: 0;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  p {
    padding: 15px;
  }

  .recs-card {
    border-radius: 20px;
    padding: 15px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 12px;
  }
}

/*ajustes para tablet*/
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  img {
    max-width: 30%;
  }
}

/*otimização geral para desktop*/
@media (max-width: 1200px) {
  body {
    padding: 30px;
  }

  .recs-card {
    padding: 30px;
    gap: 30px;
  }
}
