.frame {
  width: 700px;
  max-height: 500px;
  border-radius: 15px;
  -webkit-box-shadow:
    inset -1px 3px 8px 5px #1f87ff,
    2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow:
    inset -1px 3px 8px 5px #1f87ff,
    2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #1c6ea4;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--bg-secondary);
}

section .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--bg-secondary);
}

#quiz-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.slide {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Saindo pra esquerda */
.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

/* Entrando da direita */
.slide-in {
  transform: translateX(100%);
  opacity: 0;
}

/* Estado normal */
.slide-active {
  transform: translateX(0);
  opacity: 1;
}

.quiz-box {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.vertical-box {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.answer-option {
  display: block;
  cursor: pointer;
}

/* Retirar o circulo do radio button */
.answer-option input[type="radio"] {
  display: none;
}

/* Deixar o visual parecido com um botão */
.answer-option span {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #333;
  border-radius: 10px;

  background-color: #fff;
  color: #333;

  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.answer-option span {
  width: 100%;
  height: 5rem;
  text-align: center;
}

.answer-option span:hover {
  background-color: #333;
  color: #fff;
  transform: translateY(-2px);
}

.answer-option input[type="radio"]:checked + span {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.answer-option span:active {
  transform: scale(0.98);
}

/*Popup*/
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  gap: 1rem;
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary);
  box-shadow:
    0 12px 30px var(--bg-shadow),
    0 6px 12px var(--bg-shadow);
  border-radius: 15px;
}

.invisible {
  display: none;
}

.to-left {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-cancel {
  background: #f1f1f1;
  color: #333;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-cancel:hover {
  background: #e4e4e4;
}

/* Botão confirmar */
.btn-confirm {
  background: var(--text);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-confirm:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 10px var(--bg-shadow),
              0 4px 7px var(--bg-shadow);
}

.btn-confirm:active {
  transform: translateY(0);
  box-shadow: 0 6px 12px var(--bg-shadow);
}

/* Navegação entre perguntas */
.navigator {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-item {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.nav-item:hover {
  background: #999;
}

.nav-item.active {
  background: #333;
  color: #fff;
}

.nav-item.answered {
  background: #4caf50;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}