.frame {
  width: 700px;
  max-height: 500px;
  border-radius: 15px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  background: #1C6EA4;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--bg-secondary);
}

section .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--bg-secondary);
}

#quiz-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.slide {
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Saindo pra esquerda */
.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

/* Entrando da direita */
.slide-in {
  transform: translateX(100%);
  opacity: 0;
}

/* Estado normal */
.slide-active {
  transform: translateX(0);
  opacity: 1;
}

.horizontal-box {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.vertical-box {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer-option {
  display: block;
  cursor: pointer;
}

/* Retirar o circulo do radio button */
.answer-option input[type="radio"] {
  display: none;
}

/* Deixar o visual parecido com um botão */
.answer-option span {
  display: block;
  max-width: 300px;
  padding: 12px 16px;

  border: 2px solid #333;
  border-radius: 10px;

  background-color: #fff;
  color: #333;

  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.answer-option span:hover {
  background-color: #333;
  color: #fff;
  transform: translateY(-2px);
}

.answer-option input[type="radio"]:checked + span {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.answer-option span:active {
  transform: scale(0.98);
}

/*Popup*/
.modal {
  display: none;
}