/* PREFLIGHT */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* END PREFLIGHT */

:root {
  /* Typography */
  --ff-heading: "Space Grotesk", sans-serif;
  --ff-body: "Roboto", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  /* Colors */
  --text: #333333;
  --text-accent: #9f1239;
  --bg-default: #ffffff;
  --bg-secondary: #f2f2f7;
  --bg-button: #fff0de;
  --bg-shadow: #2b2929;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--text);
}

h1,
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

#btn-about {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  margin: 4px;
}

/* Base btn Style */
.btn {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #333333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  transition:
    background-color 0.2s,
    color 0.2s;
  cursor: pointer;

  /* Default Solid State */
  background-color: #333333;
  color: #ffffff;
}

.btn:hover {
  background-color: transparent;
  color: inherit;
}

/* Modifier: Ghost */
.btn-ghost {
  background-color: transparent;
  color: inherit;
}

.btn-ghost:hover {
  background-color: #333333;
  color: #ffffff;
}

section {
  position: relative; /* For the absolute pos. link to stay inside */
  height: 100vh;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#hero {
  padding: 40px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

#hero h1 {
  font-size: 4.5rem;
  width: 60%;
}

#hero h1 span {
  color: var(--text-accent);
}

#articles {
  background: var(--bg-default);
}

.card {
  position: relative; /* For the absolute pos. link to stay inside */
  padding: 20px;
  border: 1px solid #ddd;
}

.card-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Layer covering the whole card */
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35%;
  gap: 1rem;
}

.card > * {
  transition: all 0.2s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border-radius: 6px;
  background-color: gray;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;
}

.card p {
  opacity: 0;
}

.card:hover p,
.card:hover h3 {
  opacity: 1;
  color: white;
}

#quiz-cta {
  background: var(--bg-secondary);

  gap: 1rem;
}

.back-button {
  background-color: #333333;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease;
  margin: 1rem;
}

.button-image {
  width: 1rem;
  height: 1rem;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.back-button:hover {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
  transform: scale(1.05);
  transition: 0.2s ease;
}
